@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 300px;
}